@media (prefers-color-scheme: dark) {
    :root {
        --sf-background: #0f0f0f;
        --sf-header-background: #0f0f0f;
        --sf-color: #ffffff;
        --sf-border: rgba(255, 255, 255, 0.2);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --sf-background: #ffffff;
        --sf-header-background: #ffffff;
        --sf-color: #000000;
        --sf-border: rgba(0, 0, 0, 0.1);
    }
}

body {
    width: 300px;
    height: 380px;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 10px;
    background-color: var(--sf-background);
}

body > #sf-settings {
    border: none !important;
}

#sf-settings {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 300px;
    height: 380px;
    font-size: 16px;
    line-height: 24px;
    color: var(--yt-live-chat-primary-text-color, var(--sf-color));
    white-space: nowrap;
    overflow: hidden;
    z-index: 100;
    box-shadow: 0px 4px 32px 0px var(--yt-spec-static-overlay-background-light);
    border-radius: 8px;
    background-color: var(--yt-live-chat-background-color, var(--sf-background-color));
    border: 1px solid var(--yt-spec-10-percent-layer, var(--sf-border));
}

#sf-settings-main {
    position: relative;
    flex: auto;
    flex-direction: column;
}

    #sf-settings-main > div {
        cursor: auto;
    }

.sf-separator-light {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--yt-spec-10-percent-layer, var(--sf-border));
}

.sf-scroll {
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 10px;
    height: auto;
    background-color: var(--yt-live-chat-background-color, var(--sf-background));
    scrollbar-width: none
}

.sf-scroll::-webkit-scrollbar {
    display: none;
}

.switch {
    margin-right: 5px;
}

.sf-settings-item {
    padding: 5px;
}

.sf-dropdown {
    display: flex;
    flex-direction: column;
    user-select: none;
    white-space: nowrap;
    background-color: var(--yt-live-chat-background-color, var(--sf-background));
}

.sf-fullmenu > .sf-dropdown-index {
    padding: 15px 20px 15px 20px;
    font-weight: bold;
    z-index: 100;
    background-color: var(--yt-live-chat-header-background-color, var(--sf-header-backgound));
}

    .sf-fullmenu > .sf-dropdown-index:hover {
        background-color: var(--yt-live-chat-header-background-color, var(--sf-header-background));
    }

.sf-dropdown-index {
    display: flex;
    flex-direction: row;
    padding: 5px;
    cursor: pointer;
    border-radius: 2px;
}

.sf-dragging {
    filter: opacity(0.3);
    background-color: var(--yt-live-chat-background-color, var(--sf-background));
}

.sf-dropdown-index:last-child {
    padding-bottom: 10px;
}

    .sf-dropdown-index:hover {
        background-color: var(--yt-spec-10-percent-layer, var(--sf-border));
    }

    .sf-dropdown-index .sf-item {
        height: 25px;
        margin-right: 10px;
    }

    .sf-dropdown-index .sf-icon {
        writing-mode: vertical-lr;
        text-orientation: mixed;
    }

    .sf-dropdown-index .sf-title {
        flex: auto;
        align-items: flex-start;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.sf-dropdown-box {
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow: hidden;
    transition: height ease-out 0.1s;
}

    .sf-dropdown-box .sf-new-filter {
        display: flex;
        flex-direction: row;
        width: auto;
        margin: 5px 10px 10px 10px;
    }

    .sf-new-filter input {
        margin-right: 5px;
    }

    .sf-new-filter input, .sf-new-filter select {
        flex: auto;
    }

    .sf-dropdown-box .sf-filter {
        display: flex;
        flex-direction: column;
    }

    .sf-dropdown-box .input ~ .input {
        margin-top: 5px;
    }

    .sf-dropdown-box > select {
        margin-bottom: 10px;
    }

.sf-block {
    display: flex;
    flex-direction: column;
    background: var(--yt-spec-10-percent-layer, var(--sf-border));
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    cursor: auto;
    padding: 5px;
}

    .sf-block ~ .sf-block {
        margin-top: 5px;
    }

    .sf-block .sf-block-title {
        font-weight: normal;
        margin-left: 5px;
        padding-bottom: 5px;
    }

    .sf-block > div {
        display: flex;
        flex-direction: column;
        width: auto;
    }

.text-input {
    width: auto;
    text-align: center;
}

.sf-overlay-item select {
    width: auto;
    padding: 5px;
}

.sf-align {
    display: flex;
    align-items: center;
}

#sf-settings-controls {
    display: flex;
    flex-direction: row-reverse;
    flex: none;
    padding: 5px;
    background: var(--yt-live-chat-header-background-color, var(--sf-header-background));
}

    #sf-settings-controls > div {
        display: flex;
        align-items: center;
        margin: 10px;
        cursor: pointer;
    }

    #sf-settings-controls .sf-text {
    }

    #sf-settings-controls svg {
        width: 24px;
        height: 24px;
        margin-right: 5px;
        stroke: var(--yt-live-chat-primary-text-color, var(--sf-color)) !important;
    }

.sf-hidden {
    display: none;
}

.sf-fullmenu {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
